<!DOCTYPE html>
<html>
<head>
	<title>Welcome Home</title>
</head>
<body>
	<form>
		<h1>Welcome, <%= user.username %> as Member </h1>
        <a href="/logout">Logout</a><br> <br>
	</form>
</body>
</html>