<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>

<fieldset>
	<legend>Login</legend>
	<form method="post" >
	<table>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="uname"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="login" value="login"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="registration" value="registration"></td>
		</tr>
	</table>
	</form>
</fieldset>
</body>
</html>